  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>NEITHER OUT FAR NOR IN DEEP</h1>
      <h5><span style="align:right;">Robert Frost</span>
          </h5>
      <h2>
       The people along the sand
　　　　All turn and look one way.
   <br>They turn their back on the land.
　　　　They look at the sea all day.
　　　　 
   <br>As long as it takes to pass
　　　　A ship keeps raising its hull;
   <br>The wetter ground like glass
　　　　Reflects a standing gull
　　　　
   <br>The land may vary more;
　　　　But wherever the truth may be--
   <br>The water comes ashore,
　　　　And the people look at the sea.
　　　　 
   <br>They cannot look out far.
　　　　They cannot look in deep.
   <br>But when was that ever a bar
　　　　To any watch they keep?
      	 <br> 
      </h2>
    
    </div>
  </div>
  <div class ="container">
